
.primary {
  background: white;
  background-size: 100% 300%;
  display: inline-flex;
  border-radius: 20px;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: .5rem 1rem .6rem;
  position: relative;
  text-decoration: none;
  transition: background 0.125s ease;

  &:before {
    bottom: 0;
    box-shadow: 0 0 6px 6px var(--coral);
    border-radius: inherit;
    //content: '';
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.125s ease;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      background-color: var(--primary);

      &:before {
        opacity: .25;
      }
    }
  }
}

