@font-face {
  font-family: "founders";
  font-style: normal;
  font-weight: 700;
  src: local("founders"), url("@/assets/fonts/FoundersGrotTest-Bold.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-style: normal;
  font-weight: 500;
  src: local("founders"), url("@/assets/fonts/FoundersGrotTest-Medium.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-style: normal;
  font-weight: 400;
  src: local("founders"), url("@/assets/fonts/FoundersGrotTest-Regular.woff") format("woff");
}

@font-face {
  font-family: "founders";
  font-style: normal;
  font-weight: 300;
  src: local("founders"), url("@/assets/fonts/FoundersGrotTest-Light.woff") format("woff");
}

@font-face {
  font-family: "founders-x";
  font-style: normal;
  font-weight: 500;
  src: local("founders"), url("@/assets/fonts/FoundersGrotXCondTest-Medium.woff") format("woff");
}

@font-face {
  font-family: "founders-x";
  font-style: normal;
  font-weight: 600;
  src: local("founders"), url("@/assets/fonts/FoundersGrotXCondTest-Semibold.woff") format("woff");
}


@font-face {
  font-family: "founders-x";
  font-style: normal;
  font-weight: 700;
  src: local("founders"), url("@/assets/fonts/FoundersGrotXCondTest-Bold.woff") format("woff");
}