:root {
  --or-font-sans: "future";
  --or-font-sans-medium: "future";
  --or-font-serif: "tiempos";
  --or-color-primary: #0b60a9;
  --or-color-primary-light: #9bbfde;
  --or-color-primary-dark: #08487e;

  --to-pink:#dbc5d1;
  --to-red: #f9550d;
  --to-blue: #293e91;
  --to-blue-light:#4a56a4;
  --to-black: #142137;

  --onyx: hsla(197, 7%, 21%, 1);
  --saffron: hsla(45, 86%, 63%, 1);
  --coral: hsla(18, 100%, 66%, 1);
  --sky-blue: hsla(187, 37%, 63%, 1);
  --ghost-white: hsla(240, 100%, 99%, 1);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
}

body {
  color: var(--onyx);
  font: 1rem/1.45 var(--or-font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

section {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 1rem 4rem;
  width: calc(100% - 2rem);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin-bottom: 1.38rem;
}

h1 {
  color: hsl(0, 0%, 25%);

  font-size: 1.999rem;
}

h2,
h3 {
  font-family: var(--or-font-sans-medium);
  font-size: 1.414rem;
  letter-spacing: .01em;
}

h4 {
  font-family: var(--or-font-sans-medium);
  letter-spacing: .01em;
}

a {
  color: currentColor;
  font-size: 1rem;
  text-decoration: none;
}


strong {
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.leaflet-container {
  height: 400px;
}